/* styles.css */

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  * {
    margin: 0;
    padding 0;
    font-family: Monaco, monospace;
  }

.header {
    text-align: center;
    margin-bottom: 25px;
}

.recipecontainer {
    width: 100%;
    overflow: hidden;
}

.recipecontainer-child {
    float: left;
    width: 33%;
    text-align: center;
}

.recipecontainer-child img {
    width: 100%;
    max-width: 300px;
    height: 175px;
    box-shadow: 1px 1px 1px 0px rgb(0, 0, 0);
    object-fit: cover;
}

.recipecontainer-child img:hover {
    opacity: 0.5;
}

.recipecontainer-child a {
    text-decoration: none;
}

.recipecontainer-child a:hover {
    opacity: 0.5;
}